<header>
  <div>
    <h1>{{ 'Tachchen Welt' | upper }}</h1>
    <div class="meta-controls">
      <toggle-button
        aria-label="Toggle dark mode"
        title="Toggle dark mode"
        role="checkbox"
        aria-checked="false"
        tabindex="0"></toggle-button>
        <github-link-button></github-link-button>
        <rss-feed-link-button></rss-feed-link-button>
      </div>
  </div>
  <p>{{ metaDescription }}</p>
  <div class="controls-row" role="group" data-controls-primary>
    <refresh-button>
      <button>Refresh data</button>
    </refresh-button>
    <weather-reporter-button>
      <button>Get a weather report</button>
    </weather-reporter-button>
    <info-button>
      <button>Get info</button>
    </info-button>
  </div>
  <div class="controls-row" role="group">
    <wizard-controls></wizard-controls>
  </div>
</header>
