<header>
  <div>
    <h1>{{ 'Hello World' | upper }}</h1>
    <div class="meta-controls">
      <toggle-button
        aria-label="Toggle dark mode"
        title="Toggle dark mode"
        role="checkbox"
        aria-checked="false"
        tabindex="0"></toggle-button>
        <github-link-button></github-link-button>
      </div>
  </div>
  <p>{{ metaDescription }}</p>
  <refresh-button>
    <button>Refresh data</button>
  </refresh-button>
  <weather-reporter-button>
    <button>Get a weather report</button>
  </weather-reporter-button>
  <info-button>
    <button>Get info</button>
  </info-button>
  <wizard-controls></wizard-controls>
</header>
