<!doctype html>
<html class="no-js" lang="en">
  <head>
    <title>{{title}}</title>
    {% if (meta.env === 'production') %}
      <link rel="preload" href="/css/{{manifest['style.css']}}" as="style">
      <link rel="stylesheet" href="/css/{{manifest['style.css']}}" media="all">
    {% else %}
      <link rel="preload" href="/css/style.css" as="style">
      <link rel="stylesheet" href="/css/style.css" media="all">
    {% endif %}
    <link rel="canonical" href="{{meta.siteUrl}}{{page.url}}">
    <link rel="me" href="https://indieweb.social/@welt">
    <link rel="preload" href="/media/art-therapy/art-therapy.png" as="image">
    {% for url, type in preloads %}
      <link rel="{{type}}" href="{{url}}">
    {% endfor %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <meta name="description" content="{{metaDescription}}">
    {% include 'openGraph.njk' %}
  </head>
  <body>
    {% include 'header.njk' %}
    {% include 'messagePanel.njk' %}
    <main id="main" class="main grid">
      {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
    {% include 'scriptTags.njk' %}
    <script nonce="{% nonce %}">
      document.documentElement.className = document.documentElement.className.replace('no-js','js');
      const currentMode = localStorage.getItem('mode');
      if (currentMode === 'dark') {
        document.documentElement.classList.add('dark-mode');
        const firstToggleButton = document.querySelector('toggle-button');
        firstToggleButton && firstToggleButton.setAttribute('checked', 'checked');
      } else {
        document.documentElement.classList.remove('dark-mode');
      }
    </script>
  </body>
</html>
