<!doctype html>
<html class="no-js" lang="en">
  <head>
    <title>{{title}}</title>
    {% if (meta.env === 'production') %}
      <link rel="preload" href="/css/{{manifest['style.css']}}" as="style">
      <link rel="stylesheet" href="/css/{{manifest['style.css']}}" media="all">
    {% else %}
      <link rel="preload" href="/css/style.css" as="style">
      <link rel="stylesheet" href="/css/style.css" media="all">
    {% endif %}
    <link rel="canonical" href="{{meta.siteUrl}}{{page.url}}">
    <link rel="me" href="https://indieweb.social/@welt">
    {% for url, type in preloads %}
      <link rel="{{type}}" href="{{url}}">
    {% endfor %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <meta name="description" content="{{metaDescription}}">
    {% include 'openGraph.njk' %}
  </head>
  <body>
    {% include 'header.njk' %}
    {% include 'messagePanel.njk' %}
    <main id="main" class="main grid">
      {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
    <script nonce="{% nonce %}">
      requestAnimationFrame(() => {
        {% if (meta.env === 'production') %}
        const modules = [
          '/js/{{manifest['main.js']}}',
          '/js/audioLoops/{{manifest['audioLoops.js']}}',
          '/js/digitalRain/{{manifest['digitalRain.js']}}',
          '/js/pixelMangler/{{manifest['pixelMangler.js']}}'
        ];
        {% else %}
        const modules = [
          '/js/bundle.esm.js',
          '/js/audioLoops/audioLoops.js',
          '/js/digitalRain/digitalRain.js',
          '/js/pixelMangler/pixelMangler.js',
        ];
        {% endif %}
        async function loadComponents() {
          const results = await Promise.allSettled(
            modules.map((module) => import(module)),
          );
          results.forEach((res, i) => {
            if (res.status === 'rejected') {
              console.warn('Failed to load module', modules[i], res.reason);
            }
          });
        }
        const runLoader = () => {
          if ('requestIdleCallback' in window) {
            requestIdleCallback(loadComponents, { timeout: 2000 });
          } else {
            setTimeout(loadComponents, 200);
          }
        };
        runLoader();
      });
      document.documentElement.className = document.documentElement.className.replace('no-js','js');
      const currentMode = localStorage.getItem('mode');
      if (currentMode === 'dark') {
        document.documentElement.classList.add('dark-mode');
        const firstToggleButton = document.querySelector('toggle-button');
        firstToggleButton && firstToggleButton.setAttribute('checked', 'checked');
      } else {
        document.documentElement.classList.remove('dark-mode');
      }
    </script>
  </body>
</html>
