---
title: Juten Tach Welt!
layout: default
metaDescription: "Plain old JavaScript objects."
---

<wizard-reporter class="grid-item">
  <loading-spinner></loading-spinner>
</wizard-reporter>

<github-reporter class="grid-item">
  <loading-spinner></loading-spinner>
</github-reporter>

<random-reporter src="https://api.github.com/repos/11ty/eleventy" class="grid-item">
  <loading-spinner></loading-spinner>
</random-reporter>

<carbon-reporter class="grid-item">
  <loading-spinner></loading-spinner>
</carbon-reporter>

<f1-reporter class="grid-item">
  <loading-spinner></loading-spinner>
</f1-reporter>

<div class="grid-item reporter reporter-digital-rain">
  <digital-rain id="digital-rain"autoplay speed="2" font-size="128" col-spacing="0.1" char-interval=".8">
    <button slot="controls" class="play-toggle button button--play-toggle">Play</button>
  </digital-rain>
</div>
