---
title: Juten Tach Welt!
layout: default
metaDescription: "Plain old JavaScript objects."
---

<wizard-reporter class="grid-item"></wizard-reporter>

<github-reporter class="grid-item"></github-reporter>

<random-reporter src="https://api.github.com/repos/11ty/eleventy" class="grid-item"></random-reporter>

<carbon-reporter class="grid-item"></carbon-reporter>

<f1-reporter class="grid-item"></f1-reporter>

<audio-loops-card>
  <loading-spinner></loading-spinner>
</audio-loops-card>

<div class="grid-item reporter reporter--digital-rain">
  <digital-rain id="digital-rain" autoplay speed="2" font-size="128" col-spacing="0.1" char-interval=".8">
    <button slot="controls" class="play-toggle button button--play-toggle">Play</button>
  </digital-rain>
</div>

<div class="grid-item reporter reporter--art-therapy">
  <image-swap src="media/art-therapy/art-therapy-matrix.png">
    <!-- image: adder©{% year %} -->
    <img src="media/art-therapy/art-therapy.png" height="422" width="317" alt="A bottle of milk">
  </image-swap>
</div>

<div class="grid-item reporter reporter--moabit">
  <pixel-mangler>
    <image-swap src="media/moabit/near-moabiter-brücke-matrix.png" hidden>
      <!-- image: _welt©{% year %} -->
      <img src="media/moabit/near-moabiter-brücke.png" height="422" width="317" alt="Berlin Moabit" hidden>
    </image-swap>
  </pixel-mangler>
</div>
