.blog-strategy-switch {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.blog-strategy-switch label {
  display: flex;
  align-items: center;
  margin: 0;
}

.blog-strategy-switch select {
  -webkit-appearance: none;
  background-color: $color-back;
  border: 1px solid $color-fore;
  border-radius: 4px;
  color: $color-fore;
  font-size: 0.7rem;
  font-weight: 700;
  margin-left: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
