.blog-editor-card {
  input,
  textarea {
    background-color: Gainsboro;
    border-color: Black;
    border-radius: 0.25em;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    color: Black;
    font-size: 1rem;
    margin-bottom: 1em;
    padding: 0.5em;
    resize: vertical;
    width: 100%;
  }
  fieldset {
    align-items: center;
    background-color: whitesmoke;
    border-radius: 8px;
    border: 2px solid Black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    justify-content: center;
    margin: 0.5rem 0 0 0;
    max-width: 100%;
    min-width: 0;
    padding: 1rem;
    width: 100%;
  }
  legend {
    background-color: Whitesmoke;
    border-radius: 6px;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
  button,
  label {
    align-self: flex-start;
    width: 100%;
  }
}
