.blog-editor-card {
  input,
  textarea {
    background-color: Gainsboro;
    border-color: Black;
    border-radius: 0.25em;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    color: Black;
    font-size: 1rem;
    margin-bottom: 1em;
    padding: 0.5em;
    resize: vertical;
    width: 100%;
  }
  fieldset {
    border-radius: 8px;
    border: 2px solid Black;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
