.button > * {
  background: transparent;
  padding: 0.25em;
  font-size: 1rem;
  color: $color-fore;
  cursor: pointer;
  border: 2px solid $color-fore;
  border-radius: 0.25rem;
}

button[disabled] {
  opacity: 0.8;
  border: 2px dashed $color-fore;
  cursor: not-allowed;
}
