@media only screen {
  .dark-mode {
    body {
      color: $color-darkmode-fore;
      background-color: $color-darkmode-back;
    }

    main {
      background-color: $color-darkmode-back;
    }

    toggle-button {
      --mode-btn-color: $color-darkmode-fore;
    }

    .icon {
      color: $color-darkmode-fore;
    }

    a,
    a:link,
    a:visited {
      color: $color-darkmode-fore;
    }

    .card,
    .reporter,
    .card fieldset,
    .card textarea,
    .card input,
    .card button,
    .card legend {
      background-color: $color-darkmode-back;
      border-color: $color-darkmode-fore;
      color: $color-darkmode-fore;
    }

    .message-panel {
      border-color: $color-darkmode-fore;
    }

    .button > * {
      color: $color-darkmode-fore;
      border-color: $color-darkmode-fore;
    }

    digital-rain .button--play-toggle,
    seaside-audio .button--play-toggle {
      background-color: $color-darkmode-back;
      color: $color-darkmode-fore;
      border-color: $color-darkmode-fore;
    }

    .blog-strategy-switch select {
      background-color: $color-darkmode-back;
      border: 1px solid $color-darkmode-fore;
      color: $color-darkmode-fore;
    }
  }
}
