dl {
  display: block;
  margin-top: 0;
}

dt {
  font-style: bold;
  margin-top: .5rem;
}

dd {
  margin-left: 0;
}

dl > dl {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0.5em;
}

dd > dl > dt,
dd > dl > dd {
  display: inline;
  margin-right: 0.5em;
  margin-left: 0;
  font-style: italic;
}

.inline-list {
  dl {
    margin: 0;
    padding: 0;
  }

  dt {
    display: inline-block;
    font-weight: bold;
    margin-right: 5px;
  }

  dd {
    display: inline-block;
    margin-left: 0;
  }
}
