html {
  scrollbar-gutter: stable;
}

body {
  background-color: $color-back;
  box-sizing: border-box;
  color: $color-fore;
  font-family: $fontFaceMain;
}

/* MOBILE LAYOUT */

@include respond("medium") {
  /* MEDIUM SCREEN LAYOUT */
}

@include respond("large") {
  /* LARGE SCREEN LAYOUT */
}
