.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  column-gap: 1rem;
}

.grid > * {
  width: calc(100% / 3 - 1rem);
}

.grid-item {
  padding-left: 1rem;
  padding-right: 1rem;
}
