ul,
ol {
  display: block;
  margin-bottom: 0;
  margin-top: 0;
}

ul.post-list {
  list-style: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.list-inline {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline;
  }

  li:not(:last-child)::after {
    content: ", ";
  }
}
