.message-panel {
  border-radius: 8px;
  border: 2px dashed Black;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 20px;
  padding: 1rem;
  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}

.message-panel:empty {
  display: none;
}
