.reporter,
.card {
  border: 2px solid Black;
  border-radius: 8px;
  background-color: Whitesmoke;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
}

.reporter--wizard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.reporter--wizard ul {
  flex: 1 1 auto;
  margin-bottom: 0.5rem;
}

.reporter--wizard reset-button {
  align-self: flex-end;
}

.reporter--digital-rain {
  height: 100%;
  padding: 0;
}

.reporter--art-therapy,
.reporter--moabit,
.reporter--seaside {
  height: 100%;
  padding: 0;
}
