header {
  padding: 0.75rem 1rem;
}
header h1 {
  color: Black;
  font-size: 1.25rem;
  line-height: 1.1;
  margin: 0;
}
.dark-mode header h1 {
  color: #00c815;
}
.meta-controls {
  display: inline-flex;
  gap: 0.5rem;
  vertical-align: middle;
}
